.container{
    width: 85%;
    margin: auto;
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
}

/* Header and hero-head */
header{
    background-color: #F4F4F4;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1010px;
}

header .nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-logo .logo{
    margin-top: 3em;
}

header .nav-logo .logo h2{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

header .nav-logo .nav{
    width: 50%;
    margin-top: 3em;
}

header .nav-logo .nav ul{
    display: flex;
    justify-content: space-around;
}

header .nav-logo .nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
}

header .nav-logo .nav ul li a:hover{
    text-decoration: underline #ffffff;
}

header .hero-header{
    width: 65%;
    margin-top: 25em;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

header .hero-header .salutation h1{
    font-size: 100px;
    padding-bottom: 45px;
}

header .hero-header .salutation p{
    font-size: 50px;
    width: 70%;
    line-height: 68px;
}

header .hero-header .button{
    display: flex;
    align-items: flex-end;
}

header .hero-header .button input{
    padding: 15px 35px;
    border-radius: 35px;
    border: 1px solid #E07800;
    font-size: 23px;
    font-weight: bold;
    background-color: #E07800;
    color: #FFFFFF;
    outline: none;
}

header .hero-header .button input:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #E07800;
}

/* Section portfolio */
section .portfolio h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    padding-top: 1.5em;
    margin-bottom: 1em;
}

/* section .portfolio h2:hover{
    color: black;
} hover portfolio*/

section .section-projet .boxs{
    display: flex;
    flex-direction: column;
    
}

section .section-projet .portfolio .box1{
    display: grid;
    grid-template-columns: 60% 1fr;
    margin: 15px 0;
}

section .section-projet .portfolio .box1 .projet{
    background-color: #E07800;
    border-radius: 0 30px 30px 0;
}

section .section-projet .portfolio .box1 .projet{
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 115px;
}

section .section-projet .portfolio .box1 .projet .img-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .section-projet .portfolio .box1 .projet .img-title img{
    width:345px;
}

section .section-projet .portfolio .box1 .projet .img-title h3{
    font-size: 30px;
    margin-top: 15px;
}

section .section-projet .portfolio .box1 .projet p{
    font-size: 25px;
    margin-left: 15px;
}

section .section-projet .portfolio .box2{
    display: grid;
    grid-template-columns: 1fr 60%;
}

section .section-projet .portfolio .box2 .projet{
    border-radius: 30px 0 0 30px;
    background-color: #E07800;
    display: grid;
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px 115px 40px 40px;
}

section .section-projet .portfolio .box2 .projet .img-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .section-projet .portfolio .box2 .projet .img-title img{
    width: 345px;
}

section .section-projet .portfolio .box2 .projet .img-title h3{
    font-size: 30px;
    margin-top: 15px;
}

section .section-projet .portfolio .box2 .projet  p{
    font-size: 25px;
    margin-right: 15px;
}

section .section-about{
    margin-bottom: 4em;
}

section .section-about h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    padding-top: 1.5em;
    margin-bottom: 1em;
}

section .section-about .text{
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 5px solid #E07800;
}

section .section-about .text p{
    background-color: #E07800;
    font-size: 25px;
    padding: 20px;
}

section .section-competences .container h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    margin-bottom: 1em;
}

section .section-competences .container .icon-competences{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

section .section-competences .container .html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .section-competences .container .html .icon-html{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/1/2/2;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section .section-competences .container .html .text-html{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 30px;
    padding: 12px 60px;
}

section .section-competences .container .html .text-html:hover{
    color: white;
}

section .section-competences .container .css{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .section-competences .container .css .icon-css{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/2/3/2;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section .section-competences .container .css .text-css{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 30px;
    padding: 12px 70px;
}

section .section-competences .container .css .text-css:hover{
    color: white;
}

section .section-competences .container .balsamiq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .section-competences .container .balsamiq .icon-balsamiq{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/3/2/4;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section .section-competences .container .balsamiq .text-balsamiq{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 30px;
    padding: 12px 35px;
}

section .section-competences .container .balsamiq .text-balsamiq:hover{
    color: white;
}

section .section-competences .container .figma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .section-competences .container .figma .icon-figma{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/4/2/5;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section .section-competences .container .figma .text-figma{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 30px;
    padding: 12px 60px;
}

section .section-competences .container .figma .text-figma:hover{
    color: white;
}

section .section-contact .container h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    padding-top: 1.5em;
    margin-bottom: 1em;
}

section .section-contact .container .contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

section .section-contact .container .titl-message p{
    font-size: 30px;
}

section .section-contact .container .contact-form .form{
    border: 3px solid #E07800;
    border-radius: 30px;
}

section .section-contact .container .contact-form .name{
    
}















section .container .social-media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

section .container .social-media .phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E07800;
    border-radius: 50px;
}

section .container .social-media .facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E07800;
    border-radius: 50px;
}

section .container .social-media .github{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E07800;
    border-radius: 50px;
}

section .container .social-media .linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E07800;
    border-radius: 50px;
}






















/* Version tablette */
@media screen and (min-width: 375px) and (max-width: 768px){
    header{
        background-image: url(../img/image.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    header .nav-logo .logo h2{
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
    }    

    header .nav-logo .nav{
        font-size: 13px;
    }

    header .hero-header{
        margin-top: 17em;
    }

    header .hero-header .salutation{
        margin-bottom: 10em;
    }

    header .hero-header .salutation h1{
        font-size: 50px;
        padding-bottom: 25px;
    }

    header .hero-header .salutation p{
        font-size: 30px;
        line-height: 41px;
    }

    header .hero-header .button input{
        font-size: 15px;
        padding: 10px 25px;
        margin-bottom: 11em;
    }

    /* Section portfolio */

    section .section-projet .portfolio h2{
        font-size: 25px;
    }

    section .section-projet .portfolio .box1 .projet{
        padding: 20px 20px 20px 60px;
    }

    section .section-projet .portfolio .box1 .projet .img-title{
        
    }

    section .section-projet .portfolio .box1 .projet .img-title img{
        width: 200px;
    }

    section .section-projet .portfolio .box1 .projet .img-title h3{
        font-size: 15px;
    }

    section .section-projet .portfolio .box1 .projet p{
        font-size: 13px;
        width: 85%;
    }

    section .section-projet .portfolio h2{
        font-size: 25px;
    }

    section .section-projet .portfolio .box2 .projet{
        padding: 20px 60px 20px 20px;
    }

    section .section-projet .portfolio .box2 .projet .img-title{
        
    }

    section .section-projet .portfolio .box2 .projet .img-title img{
        width: 200px;
    }

    section .section-projet .portfolio .box2 .projet .img-title h3{
        font-size: 15px;
    }

    section .section-projet .portfolio .box2 .projet p{
        font-size: 13px;
        width: 85%;
    }

    section .section-about .container h2{
        font-size: 25px;
    }

    section .section-about .container .text p{
        font-size: 15px;
    }
}



/* Version mobile */
@media screen and (max-width: 375px){
    header{
        background-image: url(../img/image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 113%;
        height: 100%;
    }

    header .nav-logo .logo{
        margin-top: 1.5em;
    }

    header .nav-logo .logo h2{
        font-size: 20px;
    }

    header .nav-logo .nav{
        font-size: 9px;
        display: none;
    }

    header .hero-header{
        margin-top: 0;
    }

    header .hero-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-top: 4em;
        line-height: 1.5em;
    }

    header .hero-header .salutation h1{
        font-size: 35px;
        text-align: center;
        padding: 0;
    }

    header .hero-header .salutation p{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    header .hero-header .button input{
        font-size: 10px;
        padding: 8px 45px;
        width: 100%;
        margin-top: 2em;
    }

    section {
        margin: auto;
    }

    section .section-projet .portfolio h2{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
}



