*{
    scroll-behavior: smooth;
}
.container{
    width: 85%;
    margin: auto;
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
}

/* Header and hero-head */
header{
    background-color: #F4F4F4;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1010px;
}

header .nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-logo .logo{
    margin-top: 3em;
}

header .nav-logo .logo h2{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

header .nav-logo .nav{
    width: 50%;
    margin-top: 3em;
}

header .nav-logo .nav ul{
    display: flex;
    justify-content: space-around;
}

header .nav-logo .nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
}

header .nav-logo .nav ul li a:hover{
    text-decoration: underline #ffffff;
}

header .hero-header{
    width: 65%;
    margin-top: 20em;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

/* header .hero-header .salutation {
    transform: translateY(1re);
} */

header .hero-header .salutation h1{
    font-size: 100px;
    padding-bottom: 45px;
}

header .hero-header .salutation p{
    font-size: 50px;
    width: 70%;
    line-height: 68px;
}

header .hero-header .button{
    display: flex;
    align-items: flex-end;
}

header .hero-header .button input{
    padding: 15px 35px;
    border-radius: 35px;
    border: 1px solid #E07800;
    font-size: 23px;
    font-weight: bold;
    background-color: #E07800;
    color: #FFFFFF;
    outline: none;
}

header .hero-header .button input:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #E07800;
}

/* Section portfolio */
main .portfolio{
    margin-top: 5em;
}

main .portfolio h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    margin-bottom: 1em;
}

main .portfolio h2:hover{
    text-decoration: underline black;
    color: black;
}

main .section-projet .boxs{
    display: flex;
    flex-direction: column;
    
}

main .section-projet .portfolio .box1{
    display: grid;
    grid-template-columns: 60% 1fr;
    margin: 15px 0;
}

main .section-projet .portfolio .box1 .projet{
    background-color: #E07800;
    border-radius: 0 30px 30px 0;
}

main .section-projet .portfolio .box1 .projet{
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 115px;
}

main .section-projet .portfolio .box1 .projet .img-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-projet .portfolio .box1 .projet .img-title img{
    width: 295px;
    height: 250px;
    border-radius: 20px;
}

main .section-projet .portfolio .box1 .projet .img-title h3{
    font-size: 28px;
    margin-top: 15px;
}

main .section-projet .portfolio .box1 .projet p{
    font-size: 20px;
    margin-left: 15px;
}

main .section-projet .portfolio .box2{
    display: grid;
    grid-template-columns: 1fr 60%;
}

main .section-projet .portfolio .box2 .projet{
    border-radius: 30px 0 0 30px;
    background-color: #E07800;
    display: grid;
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px 115px 40px 40px;
}

main .section-projet .portfolio .box2 .projet .img-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-projet .portfolio .box2 .projet .img-title img{
    width: 295px;
    height: 250px;
    border-radius: 20px;
}

main .section-projet .portfolio .box2 .projet .img-title h3{
    font-size: 28px;
    margin-top: 15px;
}

main .section-projet .portfolio .box2 .projet  p{
    font-size: 20px;
    margin-right: 15px;
}

main .section-about{
    margin-bottom: 4em;
    margin-top: 5em;
}

main .section-about h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    margin-bottom: 1em;
}

main .section-about h2:hover{
    color: black;
    text-decoration: underline  black;
}

main .section-about .text{
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 5px solid #E07800;
}

main .section-about .text p{
    background-color: #E07800;
    font-size: 25px;
    padding: 20px;
}

main .section-competences .container h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    margin-bottom: 1em;
}

main .section-competences .container h2:hover{
    color: black;
    text-decoration: underline  black;
}

main .section-competences .container .icon-competences{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main .section-competences .container .html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-competences .container .html .icon-html{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/1/2/2;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

main .section-competences .container .html .text-html{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 25px;
    padding: 12px 60px;
}

main .section-competences .container .html .text-html:hover{
    color: white;
}

main .section-competences .container .css{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-competences .container .css .icon-css{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/2/3/2;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

main .section-competences .container .css .text-css{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 25px;
    padding: 12px 70px;
}

main .section-competences .container .css .text-css:hover{
    color: white;
}

main .section-competences .container .balsamiq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-competences .container .balsamiq .icon-balsamiq img{
    width: 60%;
    height: 60%;
}

main .section-competences .container .balsamiq .icon-balsamiq{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/3/2/4;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

main .section-competences .container .balsamiq .text-balsamiq{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 25px;
    padding: 12px 35px;
}

main .section-competences .container .balsamiq .text-balsamiq:hover{
    color: white;
}

main .section-competences .container .figma{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-competences .container .figma .icon-figma img{
    width: 38%;
    height: 57%;
}

main .section-competences .container .figma .icon-figma{
    border: 3px solid #E07800;
    border-radius: 105px;
    text-align: center;
    grid-area: 1/4/2/5;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

main .section-competences .container .figma .text-figma{
    border-radius: 30px;
    background-color: #E07800;
    font-size: 25px;
    padding: 12px 60px;
}

main .section-competences .container .figma .text-figma:hover{
    color: white;
}

main .section-contact{
    margin-top: 5em;
}

main .section-contact .container h2{
    color: #E07800;
    font-size: 50px;
    text-decoration: underline  #E07800;
    margin-bottom: 1em;
}

main .section-contact .container h2:hover{
    color: black;
    text-decoration: underline  black;
}

main .section-contact .container .contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main .section-contact .container .titl-message p{
    font-size: 30px;
}

main .section-contact .container .contact-form .form{
    border: 3px solid #E07800;
    border-radius: 30px;
    margin-bottom: 40px;
}

main .section-contact .container .contact-form .name{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 25px 20px 25px 25px;
}

main .section-contact .container .contact-form .name label{
    font-size: 20px;
}

main .section-contact .container .contact-form .name input{
    padding: 5px 5px 5px 10px;
    border: 2px solid #E07800;
    border-radius: 20px;
    outline: none;
}

main .section-contact .container .contact-form .email{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 20px 25px 25px;
}

main .section-contact .container .contact-form .email label{
    font-size: 20px;
}

main .section-contact .container .contact-form .email input{
    padding: 5px 5px 5px 10px;
    border: 2px solid #E07800;
    border-radius: 20px;
    outline: none;
}

main .section-contact .container .contact-form .message{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 20px 25px 25px;
}

main .section-contact .container .contact-form .message label{
    font-size: 20px;
}

main .section-contact .container .contact-form .message textarea{
    padding: 5px 5px 30px 10px;
    height: 120px;
    border: 2px solid #E07800;
    border-radius: 20px;
    outline: none;
}

main .container .social-media{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main .container .social-media .cercle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #E07800;
    border-radius: 70px;
    width: 120px;
    height: 120px;
}

main .container .social-media .phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main .section-contact .social-media .phone .cercle .number p{
    font-size: 22px;
    text-align: center;
}

main .section-contact .social-media .phone .cercle .number p:hover{
    display: none;
}

main .section-contact .social-media .phone .cercle .number .reponse p{
    display: none;
}

main .section-contact .social-media .phone .cercle .number .reponse p:hover{
    color: black;
    font-size: 10px;
}

main .container .social-media .facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .section-contact .social-media .facebook .cercle .adresse p{
    font-size: 22px;
}

main .section-contact .social-media .facebook .cercle .adresse p:hover{
    display: none;
}

main .section-contact .social-media .facebook .cercle .adresse .reponse p{
    display: none;
}

main .container .social-media .github{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .section-contact .social-media .github .cercle .adresse p{
    font-size: 22px;
}

main .section-contact .social-media .github .cercle .adresse p:hover{
    display: none;
}

main .section-contact .social-media .github .cercle .adresse .reponse p{
    display: none;
}

main .container .social-media .linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .section-contact .social-media .linkedin .cercle .adresse p{
    font-size: 22px;
}

main .section-contact .social-media .linkedin .cercle .adresse p:hover{
    display: none;
}

main .section-contact .social-media .linkedin .cercle .adresse .reponse p{
    display: none;
}

/* footer */
footer{
    margin-top: 5em;
    background-color: #E07800;
}

footer .container .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

footer .container .footer .copyright p{
    font-size: 20px;
}

footer .container .footer .icons-copyright ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container .footer .icons-copyright ul li img{
    height: 50px;
    width: 50px;
}

footer .container .footer .icons-copyright ul li .up{
    height: 45px;
    width: 45px;
}























/* Version tablette */
@media screen and (min-width: 375px) and (max-width: 768px){
    header{
        background-image: url(../img/image.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    header .nav-logo .logo h2{
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
    }    

    header .nav-logo .nav{
        font-size: 13px;
    }

    header .hero-header{
        margin-top: 17em;
    }

    header .hero-header .salutation{
        margin-bottom: 10em;
    }

    header .hero-header .salutation h1{
        font-size: 50px;
        padding-bottom: 25px;
    }

    header .hero-header .salutation p{
        font-size: 30px;
        line-height: 41px;
    }

    header .hero-header .button input{
        font-size: 15px;
        padding: 10px 25px;
        margin-bottom: 11em;
    }

    /* Section portfolio */

    main .section-projet .portfolio h2{
        font-size: 25px;
    }

    main .section-projet .portfolio .box1 .projet{
        padding: 20px 20px 20px 60px;
    }

    main .section-projet .portfolio .box1 .projet .img-title img{
        width: 150px;
        height: 120px;
        border-radius: 8px;
    }

    main .section-projet .portfolio .box1 .projet .img-title h3{
        font-size: 15px;
    }

    main .section-projet .portfolio .box1 .projet p{
        font-size: 13px;
        width: 85%;
    }

    main .section-projet .portfolio h2{
        font-size: 25px;
    }

    main .section-projet .portfolio .box2 .projet{
        padding: 20px 60px 20px 20px;
    }

    main .section-projet .portfolio .box2 .projet .img-title img{
        width: 150px;
        height: 120px;
        border-radius: 8px;
    }

    main .section-projet .portfolio .box2 .projet .img-title h3{
        font-size: 15px;
    }

    main .section-projet .portfolio .box2 .projet p{
        font-size: 13px;
        width: 85%;
    }

    main .section-about .container h2{
        font-size: 25px;
    }

    main .section-about .container .text p{
        font-size: 15px;
    }

    /* Section-skils */
    section .section-competences .container h2{
        font-size: 25px;
    }

    main .section-competences .container .html .icon-html{
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    main .section-competences .container .html .text-html{
        font-size: 15px;
        border-radius: 150px;
        padding: 6px 30px;
    }

    main .section-competences .container .css .icon-css{
        border-radius: 50;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    main .section-competences .container .css .text-css{
        font-size: 15px;
        border-radius: 150px;
        padding: 6px 35px;
    }

    main .section-competences .container .balsamiq .icon-balsamiq{
        border-radius: 50;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    main .section-competences .container .balsamiq .text-balsamiq{
        font-size: 15px;
        border-radius: 150px;
        padding: 6px 19px;
    }

    main .section-competences .container .figma .icon-figma{
        border-radius: 50;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    main .section-competences .container .figma .text-figma{
        font-size: 15px;
        border-radius: 150px;
        padding: 6px 30px;
    }

    /* Section-contact */
    main .section-contact .container h2{
        font-size: 25px;
    }

    main .section-contact .container .contact-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    main .section-contact .container .contact-form .form{
        grid-column: span 2/4;
    }

    main .section-contact .container .contact-form .titl-message p{
        font-size: 15px;
    }

    main .section-contact .container .contact-form .form .name{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    main .section-contact .container .contact-form .form .name label{
        font-size: 15px;
    }

    main .section-contact .container .contact-form .form .name input{
        grid-column: span 2/4;
    }

    main .section-contact .container .contact-form .form .email{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    main .section-contact .container .contact-form .form .email label{
        font-size: 15px;
    }

    main .section-contact .container .contact-form .form .email input{
        grid-column: span 2/4;
    }

    main .section-contact .container .contact-form .form .message{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    main .section-contact .container .contact-form .message textarea{
        grid-column: span 2/4;
    }
    
    main .section-contact .container .contact-form .form .message label{
        font-size: 15px;
    }

    main .section-contact .social-media .cercle{
        border-radius: 35px;
        width: 60px;
        height: 60px;
    }

    main .section-contact .social-media .phone .cercle .number p{
        font-size: 12px;
    } 

    main .section-contact .social-media .facebook .cercle .adresse p{
        font-size: 12px;
    }

    main .section-contact .social-media .github .cercle .adresse p{
        font-size: 12px;
    }

    main .section-contact .social-media .linkedin .cercle .adresse p{
        font-size: 12px;
    }
    
    /* Footer */
    footer{
        margin-top: 3em;
    }

    footer .container .footer{
        padding: 15px 0;
    }

    footer .container .footer .copyright p{
        font-size: 13px;
    }

    footer .container .footer .icons-copyright ul li img{
        height: 30px;
        width: 30px;
    }
    
    footer .container .footer .icons-copyright ul li .up{
        height: 25px;
        width: 25px;
    }

    main .section-competences .container .balsamiq .icon-balsamiq img{
        width: 45%;
        height: 45%;
    }

    main .section-competences .container .figma .icon-figma img{
        width: 28%;
        height: 47%;
    }

    main .section-competences .container .html .icon-html img{
        width: 50%;
        height: 50%;
    }

    main .section-competences .container .css .icon-css img{
        width: 50%;
        height: 50%;
    }

    








}


























/* Version mobile */
@media screen and (max-width: 376px){
    header{
        background-image: url(../img/image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: inherit;
        width: 100%;
        height: 100%;
    }

    header .nav-logo .logo{
        margin-top: 1.5em;
    }

    header .nav-logo .logo h2{
        font-size: 20px;
    }

    header .nav-logo .nav{
        font-size: 9px;
        display: none;
    }

    header .hero-header{
        margin-top: 0;
    }

    header .hero-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2.5em 0;
        line-height: 1.5em;
    }

    header .hero-header .salutation h1{
        font-size: 35px;
        text-align: center;
        padding: 0;
    }

    header .hero-header .salutation p{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    header .hero-header .button input{
        font-size: 10px;
        padding: 8px 50px;
        width: 100%;
        margin-top: 2em;
    }



    main{
        margin-top: -5em;
    }

    main .section-projet .portfolio h2{
        text-align: center;
        font-size: 15px;
        padding: 1.5em 0 1em 0;
        margin: auto;
    }

    main .section-projet .portfolio .boxs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: auto;
    } 

    main .section-projet .portfolio .boxs .box1{
        width: 85%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    main .section-projet .portfolio .boxs .box1 .projet{
        border-radius: 30px;
        margin: 0;
        padding: 10px;
        border-radius: 10px;
    }

    main .section-projet .portfolio .box1 .projet .img-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .section-projet .portfolio .box1 .projet .img-title img{
        width: 100px;
        height: 90px;
        border-radius: 8px;
    }

    main .section-projet .portfolio .box1 .projet .img-title h3{
        font-size: 10px;
    }

    main .section-projet .portfolio .box1 .projet p{
        font-size: 10px;
        grid-area: 2/2/3/3;
    }

    main .section-projet .portfolio .boxs .box2{
        width: 85%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    main .section-projet .portfolio .boxs .box2 .projet{
        border-radius: 30px;
        margin: 0;
        padding: 10px;
        border-radius: 10px;
    }

    main .section-projet .portfolio .box2 .projet .img-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .section-projet .portfolio .box2 .projet .img-title img{
        width: 100px;
        height: 90px;
        border-radius: 8px;
    }

    main .section-projet .portfolio .box2 .projet .img-title h3{
        font-size: 10px;
    }

    main .section-projet .portfolio .box2 .projet p{
        font-size: 10px;
    }

    main .section-about{
        margin: 1em 0;
    }

    main .section-about h2{
        text-align: center;
        font-size: 15px;
        padding: 1.5em 0 1em 0;
        margin: auto;
    }

    main .section-about .container .text{
        padding-bottom: 3px;
        border-bottom: 2px solid #E07800;
    }

    main .section-about .container .text p{
        font-size: 10px;
    }

    main .section-competences{
        margin-top: 2em;
    }

    main .section-competences .container h2{
        text-align: center;
        font-size: 15px;
        padding: 0em 0 1em 0;
        margin: auto;
    }

    main .section-competences .container .html .text-html{
        font-size: 10px;
        padding: 3px 10px;
    }

    main .section-competences .container .css .text-css{
        font-size: 10px;
        padding: 3px 10px;
    }

    main .section-competences .container .balsamiq .text-balsamiq{
        font-size: 10px;
        padding: 3px 10px;
    }

    main .section-competences .container .figma .text-figma{
        font-size: 10px;
        padding: 3px 10px;
    }

    main .section-competences .container .icon-competences{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 15px;
        width: 70%;
        margin: auto;
    }

    main .section-competences .container .html .icon-html{
        border: 2px solid #E07800;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        font-size: 8px;
    }

    main .section-competences .container .css .icon-css{
        border: 2px solid #E07800;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        font-size: 8px;
    }

    main .section-competences .container .balsamiq .icon-balsamiq{
        border: 2px solid #E07800;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        font-size: 8px;
    }

    main .section-competences .container .figma .icon-figma{
        border: 2px solid #E07800;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
        font-size: 8px;
    }

    main .section-contact{
        margin-top: 2em;
    }

    main .section-contact .container h2{
        text-align: center;
        font-size: 15px;
        padding: 0em 0 1em 0;
        margin: auto;
    }

    main .section-contact .container .contact-form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        margin-bottom: -20px;
    }

    main .section-contact .container .titl-message{
        margin-bottom: 0;
    }

    main .section-contact .container .titl-message p{
        font-size: 12px;
        text-align: center;
        margin: 0 0 15px 0px;
    }

    main .section-contact .container .contact-form .form{
        border: 2px solid #E07800;
        border-radius: 10px;
    }

    main .section-contact .container .contact-form .form .name{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main .section-contact .container .contact-form .form .name label{
        font-size: 10px;
        padding: 0 0 10px 5px;
    }

    main .section-contact .container .contact-form .form .name input{
        border: 1px solid #E07800;
        font-size: 10px;
        border-radius: 20px;
        width: 90%;
    }

    main .section-contact .container .contact-form .form .email{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main .section-contact .container .contact-form .form .email label{
        font-size: 10px;
        padding: 0 0 10px 5px;
    }

    main .section-contact .container .contact-form .form .email input{
        border: 1px solid #E07800;
        border-radius: 20px;
        width: 90%;
        font-size: 10px;
    }

    main .section-contact .container .contact-form .form .message{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main .section-contact .container .contact-form .form .message label{
        font-size: 10px;
        padding: 0 0 10px 5px;
    }

    main .section-contact .container .contact-form .form .message textarea{
        border: 1px solid #E07800;
        font-size: 10px;
        border-radius: 20px;
        width: 90%;
    }

    main .container .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container .social-media .cercle{
        width: 100%;
        height: auto;
        border: 2px solid #E07800;
        border-radius: 20px;
        margin: 5px 0;
    }

    main .section-contact .social-media .phone .cercle .number p{
        font-size: 10px;
        text-align: center;
        padding: 5px 80px;
    }

    main .section-contact .social-media .facebook .cercle .adresse p{
        font-size: 10px;
        text-align: center;
        padding: 5px 72px;
    }

    main .section-contact .social-media .github .cercle .adresse p{
        font-size: 10px;
        text-align: center;
        padding: 5px 80px;
    }

    main .section-contact .social-media .linkedin .cercle .adresse p{
        font-size: 10px;
        text-align: center;
        padding: 5px 75px;
    }

    footer{
        margin-top: 1.5em;
    }

    footer .container .footer{
        padding: 20px 0;
    }

    footer .container .footer .copyright p{
        font-size: 10px;
    }

    footer .container .footer .icons-copyright ul li img{
        height: 20px;
        width: 20px;
        margin: 0 3px;
    }

    footer .container .footer .icons-copyright ul li .up{
        height: 18px;
        width: 18px;
        margin: 0 4px;
    }

    main .section-competences .container .balsamiq .icon-balsamiq img{
        width: 50%;
        height: 50%;
    }

    main .section-competences .container .figma .icon-figma img{
        width: 40%;
        height: 50%;
    }

    main .section-competences .container .html .icon-html img{
        width: 55%;
        height: 55%;
    }

    main .section-competences .container .css .icon-css img{
        width: 55%;
        height: 55%;
    }

    /* header .container .nav-logo .nav li{
        float: left;
    }

    header .container .nav-logo .nav li a{
        padding: 0;
    }

    header .container .nav-logo .nav{
        clear: none;
        float: right;
        max-height: none;
    }

    header .container .nav-logo .nav .menu-icon{
        display: none;
    } */


    











    






}